<div id="champ">
  <div class="container" ng-controller="ChampController">
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h1 class="canda text-center heading-space-bottom">{{ name }} is Turning {{ ageTurning }}</h1>
        <div class="well well-content">
          <h2>The Legend of {{ name }},</h2>
          <p>{{ name }} has recently become a huge Teenage Mutant Ninja Turtles fan.  His favorite turtle is {{ favoriteTurtle }} and he loves to pretend that he is actually him.  Here is a little bit about {{ name }} and what he likes to do:</p>
          <ul>
            <li ng-repeat="hobby in hobbies">{{ hobby }}</li>
          </ul>
          <p>Here are some helpful gift ideas but don't feel obligated to get anything or even stick to this list as we would most enjoy your company for this occasion:</p>
          Clothing:
          <ul ng-repeat="item in clothing">
            <li>{{ item.name }} - {{ item.size }}</li>
          </ul>
          Toys & Etc.:
          <ul>
            <li ng-repeat="gift in giftIdeas">{{ gift }}</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>