<div id="contact">
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h1 class="canda text-center heading-space-bottom">Contact</h1>
        <div class="well well-content">
          <p>
            This is just a simple but fun way to take care of guest planning for the party.  It is still a work in progress and a few more changes are planned over the coming days.  Feel free to sign up anytime between now and the party!
          </p>
          <p>Please contact Randy Davis at <a href="mailto:randy_davis@outlook.com?subject=Birthday RSVP">randy_davis@outlook.com</a> with any questions or changes you may have about the process.
          </p>
          
        </div>
        
      </div>
    </div>
  </div>
</div>