<div id="landing" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <h1>Champ and Atlas Are Having a Party!!!</h1>
      <h2>You're Invited so RSVP <br> <a href="#/rsvp">here</a></h2>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="loginLabel">Email address</label>
          <input type="email" class="form-control login" id="loginEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="loginLabel">Password</label>
          <input type="password" class="form-control login" id="loginPass" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
    </div>
  </div>
</div>