<div id="rsvp">
  <div class="container" ng-controller="RsvpController">
    <h1 class="canda text-center">RSVP & Guest List</h1>

    
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div id="info">
          <h2 class="text-center">Party Info</h2>
          <div class="table-responsive">
            <table id="info-table" class="table table-bordered">
              <tr>
                <th class="text-center">Day</th>
                <th class="text-center">Time</th>
                <th class="text-center">Place</th>
              </tr>
              <tr>
                <td class="text-center">July 4, 2015</td>
                <td class="text-center">10 AM - 12 PM</td>
                <td class="text-center"><address><a href=""></a>
                  Commons at Rowe Lane Amenity Center and Pool <br>20601 Commons Pkwy <br>Pflugerville,Tx 78660
                </address> </td>
              </tr>
            </table>
          </div>
          <p class="text-center">
            Need Directions? Click 
            <a href="https://www.google.com/maps/place/The+Commons+at+Rowe+Lane+Amenity+Center+and+Pool/@30.4793552,-97.5697808,15z/data=!4m2!3m1!1s0x8644c529a6d539d9:0xbe761dc786397d8c" target="_blank">Here</a>
          </p>
        </div><br>
        <h2 class="text-center rsvp">RSVP Your Child</h2>
        <form class="form-horizontal rsvp">
          <div class="form-group text-center">
            <!-- Add child guest name -->
            <label class="rsvpLabel" for="guestName" class="col-sm-2 control-label">Guest Name:</label>
            <div class="col-sm-12">
              <input ng-model="name" type="text" class="form-control text-center" id="guestName" placeholder="Name of child attending">
            </div>
          </div>
          <div class="form-group text-center">
            <!-- Select a favorite turtle -->
            <label class="rsvpLabel" for="faveTurtle" class="col-sm-2 control-label">Favorite Ninja Turtle:</label>
            <div class="col-sm-12">
              
              <select class="form-control" ng-model="faveTurtle">
                <option ng-repeat="turtle in faveTurtle track by $index" value="{{ turtle }}" >{{ turtle }}</option>
              </select>
            </div>
          </div>
          <div class="form-group text-center">
            <!-- Specify who they are a guest of -->
            <label class="rsvpLabel" for="guestOf" class="col-sm-2 control-label">Guest Of:</label>
            <div class="col-sm-12">
              
              <label class="radio-inline">
                <input ng-model="guestOf" type="radio" name="champGuest" id="champGuest" value="Champ"> Champ
              </label>
              <label class="radio-inline">
                <input ng-model="guestOf" type="radio" name="atlasGuest" id="atlasGuest" value="Atlas"> Atlas
              </label>
              <label class="radio-inline">
                <input ng-model="guestOf" type="radio" name="familyGuest" id="familyGuest" value="Family"> Family
              </label>
            </div>
          </div>
          <div class="form-group">
            <!-- Submit the RSVP data -->
            <div class="col-sm-offset-2 col-sm-8 text-center">
              <button type="submit" class="btn btn-default rsvp" ng-click="addGuest()">RVSP!</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h2 class="text-center list">Current RSVP List</h2>
        <table class="reponsive list">
          <table class="table table-bordered list">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Favorite Turtle</th>
              <th class="text-center">Guest Of</th>
              <!-- <th>RSVP'd On</th> -->
            </tr>
            <tr ng-repeat="guest in rsvpdGuests">
              <td class="text-center">{{ guest.name }}</td>
              <td class="text-center">{{ guest.faveTurtle }}</td>
              <td class="text-center">{{ guest.guestOf }}</td>
              <!-- <td>{{ guest.rsvpDate }}</td> -->
            </tr>
          </table><br><br>
        </table>
        <p ng-model="guestList" class="list">Total Guests: <span class="badge">{{ rsvpdGuests.guestList.length }}</span></p>
      </div>
    </div>

  </div>
</div>